.container-allCards{
    display: flex;
    background: #2f2f2f;
}
.container-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 75%;
}
.cards-sidebar img{
    display: flex;
    justify-content: center;
    height: 250px;
    width: 300px;
    margin-left: 70px;
} 

